.btn {
	background-color: $color-primary !important;
	color: #fff !important;
	margin-top: $xs-margin !important;
	font-family: $bebas !important;
	font-size: 2rem !important;
	letter-spacing: 0.5rem;
}
