.find-rider{
    grid-column: center-start / center-end;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: $bebas !important;
    text-align: center;

    @media screen and (max-width: $bp-sm) {         grid-column: full-start / full-end;}

    &__phrase{
        padding-bottom: 10px !important;
        width: 80% !important;
        float: left;
    }

    &__select1{
        width:50%;

        @media only screen and (max-width: $bp-md) {
			width: 100%
		}

		@media only screen and (max-width: $bp-sm) {
			width: 100%
		}
    }

    &__select2{

        @media only screen and (max-width: $bp-md) {
			width: 100%
		}

		@media only screen and (max-width: $bp-sm) {
			width: 100%
		}
    }

    &__search-phrase{
        width:40%;
        float: left;

        @media only screen and (max-width: $bp-md) {
			width: 100%
		}

		@media only screen and (max-width: $bp-sm) {
			width: 100%
		}
    }

    &__search-select1{
        width: 30%;
        float: right;
        margin-top: 1%;

        @media only screen and (max-width: $bp-md) {
			width: 40%
		}

		@media only screen and (max-width: $bp-sm) {
			width: 40%
		}
    }

    &__search-select2{
        width: 20%;
        float: left !important;
        margin-top: 1%;

        @media only screen and (max-width: $bp-md) {
			width: 40%
		}

		@media only screen and (max-width: $bp-sm) {
			width: 40%
		}
    }

    &__search{
        display: inline-block;
        width: 100%;
    }
}

#label1{
    width:40%;
    font-size: large;
    float: left;
    //margin-top:3%;
    margin-left: 5%;

    @media only screen and (max-width: $bp-md) {
        font-size: medium;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: medium;
    }
}

#label2{
    width: 50%;
    font-size: large;
    float: left;
    //margin-top: 3%;

    @media only screen and (max-width: $bp-md) {
        font-size: medium;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: medium;
    }
}
