.header {
	grid-row: 1 / 2;
	grid-column: full-start / full-end;
	background-color: $color-primary-light !important;

	font-size: 2rem;
	color: #fff;

	&__toolbar {
		position: relative;
		min-height: 100% !important;

		@media only screen and (min-width: $bp-sm) {
			min-height: 100%;
		}

		:first-child {
			margin-left: 0;
		}
	}

	&__logo {
		position: absolute;
		width: 25rem;
		height: 8rem;
		top: 1%;
		left: 0%;
		margin-left: 0 !important;
	}

	&__logo-img {
		width: 100%;
		height: 100%;
		margin-left: 0 !important;
	}

	&__logo-link {
		margin-left: 0 !important;
	}

	&__logo-bike {
		margin-right: auto;
		position: absolute;
		width: 10%;
		height: 7rem;
		top: 1%;
		left: 0%;
		margin-left: 0 !important;
	}

	&__logo-bike-img {
		width: 100%;
		height: 100%;
		margin-left: 0 !important;
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		flex: 1;
	}

	&__item {
		transition: all 0.2s ease-in;
		&:not(:last-child) {
			margin-right: 1.5rem;
		}
		&:hover {
			transform: translateY(-0.2rem) scale(1.1);
		}
	}

	&__link {
		color: #fff;
		text-decoration: none;

		&-admin {
			cursor: pointer;
		}

		&:hover {
			color: rgb(231, 228, 228);
		}
	}

	&__mobileLink {
		color: #000;
		text-decoration: none;
		text-align: center;
		font-size: 2.5rem;
		font-family: $bebas;
		letter-spacing: 0.5px;
		width: 100%;
		height: 100%;
	}

	&__mobileIcon {
		color: #fff;
		font-size: 2.5rem;
	}

	&__mobileIconButton {
		margin-right: auto !important;
	}

	&__drawerClose {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__drawerCloseIcon {
		font-size: 2.5rem;
	}

	&__login {
		padding: 1rem;
		display: flex;
		align-items: center;
		div {
			margin-right: 0.5rem;
		}
	}
	&__avatar {
		width: 3rem !important;
		height: 3rem !important;
	}

	&__username {
		color: #fff;
		text-transform: uppercase;
		margin-left: 0.5rem;
	}

	&__menuItem {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	&__menuLink {
		text-decoration: none;
		text-transform: uppercase;
		font-family: $bebas;
		font-size: 2rem;
		text-align: center;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		height: 100%;
		width: 100%;
		color: #000 !important;

		&:active,
		&:visited {
			color: #000;
		}
	}
}

.adminDrawer {
	.MuiDrawer-paper {
		min-width: 50% !important;
		background-color: rgba(255, 255, 255, 0.95) !important;
		@media only screen and (max-width: $bp-md) {
			min-width: 70% !important;
		}
		@media only screen and (max-width: $bp-sm) {
			min-width: 100% !important;
		}
	}
}

.MuiDrawer-paper {
	min-width: 100% !important;
	background-color: rgba(255, 255, 255, 0.95) !important;
}

.MuiListItem-root {
	justify-content: center !important;
}
