.header {
	grid-row: 1 / 2;
	grid-column: full-start / full-end;
	background-color: $color-primary-light !important;

	font-size: 2rem;
	color: #fff;

	&__toolbar {
		min-height: 100% !important;

		@media only screen and (min-width: $bp-sm) {
			min-height: 100%;
		}
	}

	&__logo {
		margin-right: auto;
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		flex: 1;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		color: #fff;
		text-decoration: none;

		&-admin {
			cursor: pointer;
		}
	}

	&__mobileLink {
		color: #000;
		text-decoration: none;
		text-align: center;
		font-size: 2.5rem;
		font-family: $bebas;
		letter-spacing: 0.5px;
	}

	&__mobileIcon {
		color: #fff;
		font-size: 2.5rem;
	}

	&__drawerClose {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__drawerCloseIcon {
		font-size: 2.5rem;
	}

	&__login {
		padding: 1rem;
		display: flex;
		align-items: center;
		div {
			margin-right: 0.25rem;
		}
	}
	&__avatar {
		width: 3rem !important;
		height: 3rem !important;
	}

	&__username {
		color: #fff;
		text-transform: uppercase;
		margin-left: 0.5rem;
	}

	&__menu-item {
		text-decoration: none;
		text-transform: uppercase;
		font-family: $bebas;
		font-size: 2rem;
		text-align: center;

		&:active,
		&:visited {
			color: #000;
		}
	}
}

.adminDrawer {
	.MuiDrawer-paper {
		min-width: 50% !important;
		background-color: rgba(255, 255, 255, 0.95) !important;
		@media only screen and (max-width: $bp-md) {
			min-width: 70% !important;
		}
		@media only screen and (max-width: $bp-sm) {
			min-width: 100% !important;
		}
	}
}

.MuiDrawer-paper {
	min-width: 100% !important;
	background-color: rgba(255, 255, 255, 0.95) !important;
}

.MuiListItem-root {
	justify-content: center !important;
}
