.list-matches-round {
	display: block;

	&__title {
		margin: $xs-margin 0 !important;
		font-family: $bebas !important;
		font-size: 2.3rem !important;
	}
}

.list-matches__label {
	font-family: $bebas !important;
	font-size: 2rem !important;
	margin-bottom: $xs-margin;
}
