.list-matches-match {
	display: flex;
	grid-column: center-start / center-end;
	position: relative;
	justify-content: center;
	align-items: center;
	font-family: $bebas;

	&__club {
		margin-bottom: 0.5% !important;
		text-align: center;
		margin-top: 0.5% !important;

		@media only screen and (max-width: $bp-md) {
			font-size: medium;
		}
	}

	&__away {
		margin-bottom: 0.5% !important;
		text-align: center;
		margin-top: 0.5% !important;

		@media only screen and (max-width: $bp-md) {
			width: 35%;
			font-size: medium;
		}
	}

	&__score {
		font-family: $bebas !important;
		margin-bottom: $s-margin !important;
	}

	&__clubName {
		font-family: $bebas !important;
	}

	&__options {
		margin: $s-margin 0 !important;

		& .Mui-disabled {
			background-color: #9b9292 !important;
		}

		@media only screen and (max-width: $bp-md) {
			font-size: medium;
		}
	}

	&__btn-space {
		margin-right: $xs-margin !important;
	}

	&__club-image {
		width: 20%;
	}
}

.hidden{
    display: none;
}

.scores-dialog {
	display: flex;
	flex-direction: row;
	grid-column: center-start / center-end;
	position: relative;
	justify-content: center;
	align-items: center;
	font-family: $bebas;
	float: center;

	&__clubName {
		font-family: $bebas !important;
	}

	&__div {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	&__away {
		width: 40%;
		display: block;
		float: left;
		justify-content: center;
		align-items: center;
		font-size: medium;
		margin-left: 1.25%;
		margin-right: 1.25%;
		text-align: center;
	}

	&__divider {
		width: 15%;
	}

	&__club-score {
		font-size: xxx-large;
	}

	&__home {
		width: 40%;
		display: block;
		float: right !important;
		justify-content: center;
		align-items: center;
		font-size: medium;
		margin-left: 1.25%;
		margin-right: 1.25%;
		text-align: center;
	}

	&__rider-score-div {
		display: block;
		overflow: auto;
	}

	&__rider {
		float: left;
	}

	&__score {
		float: right;
	}

	&__club-image {
		width: 40%;
		height: 30%;
	}
}

.edit-dialog {
	text-align: center;

	&__div {
		padding: 1rem;
	}
}
