.list-matches-round {
	display: block;

	&__title {
		margin: $xs-margin 0 !important;
		font-family: $bebas !important;
		font-size: 2.3rem !important;
	}
}

.list-matches {
	&__label {
		font-family: $bebas !important;
		font-size: 2rem !important;
		margin-bottom: $xs-margin;
	}
	&__noDataInfo {
		font-family: $bebas !important;
		font-size: 3.5rem !important;
		margin-top: $xs-margin;
		text-align: center;
	}
}
