.list-matches-match{

    display: block;
    overflow: auto;

    &__home{
        width:35%;
        //align-items: center;
        float: left;
        margin-bottom: 2% !important;

    }

    &__away{
        width:35%;
        //align-items: center;
        float: left;
        margin-bottom: 2% !important;

    }

    &__score{
        width: 10%;
        float: left;
        margin-bottom: 2% !important;
    }

    &__options{
        width:20%;
        float:right;
        margin-bottom: 2% !important;
    }

    &__club-image{
        width: 20%;
    }
}

.scores-dialog{
    display: block;
    overflow: auto;
    grid-column: center-start / center-end;
	position: relative;
	justify-content: center;
	align-items: center;
    font-family: $bebas;
    float: center;
    width: 60vw !important;

    &__away{
        width: 50%;
        display: block;
        float:left;
        justify-content: center;
        align-items: center;
    }

    &__home{
        width: 50%;
        display: block;
        float:right;
        justify-content: center;
        align-items: center;
    }

    &__rider-score-div{
        display: block;
        overflow: auto;
    }

    &__rider{
        float:left;
    }

    &__score{
        float:right;
    }
}