.list-matches-round{
    display: block;
    overflow: auto;

    &__title{
        @media only screen and (max-width: $bp-md) {
            font-size: medium !important;
		}

		@media only screen and (max-width: $bp-sm) {
			font-size: medium !important;
		}
    }
}