.login-register-container {
	grid-column: center-start / center-end;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $bebas;

	@media screen and (max-width: $bp-sm) {
		grid-column: full-start / full-end;
	}

	&__img {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-image: url(/img/warsaw_venue.jpg);
		background-size: cover;
		filter: opacity(0.2);
	}

	&__box {
		position: relative;
		z-index: 1000;
		min-width: 45vw;
		padding: 3rem 2rem;

		@media only screen and (max-width: $bp-md) {
			min-width: 55vw;
			padding: 2rem 1rem;
		}

		@media only screen and (max-width: $bp-sm) {
			min-width: 90vw;
			padding: 1rem 0.5rem;
		}
	}

	&__heading {
		text-align: center;
		text-transform: uppercase;
		font-family: $bebas !important;
		margin-bottom: $xs-margin !important;
		letter-spacing: 1px !important;
	}

	&__form {
		display: flex;
		flex-direction: column;
		max-width: 80%;
		margin: 0 auto;
		margin-top: $s-margin;

		&-field {
			margin-bottom: $xs-margin !important;
		}
	}

	&__link {
		margin-top: $xs-margin;
		text-decoration: none !important;
		align-self: flex-end;
		font-size: 1.9rem;
		color: $color-primary;
	}
	& svg {
		font-size: 2rem !important;
	}
}
