.rankingUsers {

	grid-column: center-start / center-end;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $bebas;

	&__background {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-image: url(/img/warsaw_venue.jpg);
		background-size: cover;
		filter: opacity(0.2);
    }

    &__box {
		position: relative;
		z-index: 1000;
		min-width: 80%;
		padding: 3rem 2rem;

		@media only screen and (max-width: $bp-md) {
			min-width: 85%;
			min-height: 100%;
			padding: 2rem 1rem;
		}

		@media only screen and (max-width: $bp-sm) {
			min-width: 95%;
			padding: 1rem 0.5rem;
		}
	}

	&__heading {
		text-align: center;
		text-transform: uppercase;
		font-family: $bebas !important;
		margin-bottom: $xs-margin !important;
		letter-spacing: 1px !important;
	}

	& .MuiTableCell-head {
		background-color: $color-primary !important;
		color: #fff !important;
		font-size: 1.8rem;
		font-family: $bebas !important;
		border: 1px solid $color-primary-light;

		&:first-child {
			border: none !important;
		}
		&:nth-child(2) {
			border-left: none;
		}
	}

	& .MuiTableRow-root:nth-child(even) .MuiTableCell-body {
		background-color: $color-primary-light;
		color: #fff;

		.MuiIconButton-root:hover {
			background-color: #b9b0b083;
		}
	}

	& .MuiTableCell-body {
		font-size: 1.7rem;
		font-family: $bebas !important;
		border: 1px solid $color-primary;
	}

	& .MuiTableCell-root {
		padding: 1rem !important;
		border: none;
	}

	& .MuiTable-root {
		border: 1px solid $color-primary;
	}
}
