.register-container {
	grid-column: center-start/ center-end;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(/img/warsaw_venue.jpg);
		background-size: cover;
		filter: opacity(0.2);
	}

	&__box {
		position: relative;
		z-index: 2000;
		min-width: 45vw;
		padding: 3rem 2rem;

		@media only screen and (max-width: $bp-md) {
			min-width: 55vw;
			padding: 2rem 1rem;
		}

		@media only screen and (max-width: $bp-sm) {
			min-width: 65vw;
			padding: 1rem 0.5rem;
		}
	}

	&__heading {
		text-align: center;
		text-transform: uppercase;
		font-family: $bebas !important;
		margin-bottom: $xs-margin !important;
		letter-spacing: 1px !important;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		margin-top: $s-margin;

		&-field {
			margin-bottom: $xs-margin !important;
		}
	}
}
