.selfTeaching {
	&__container {
		grid-column: center-start / center-end;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $bebas;
	}

	&__img {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-image: url(/img/wroclaw.jpg);
		background-size: cover;
		filter: opacity(0.2);
	}

	&__box {
		position: relative;
		z-index: 1000;
		min-width: 80vw;
		min-height: 85%;
		opacity: 0.8;
		padding: 1rem;
	}

	&__icon {
		font-size: 2.5rem;
		color: #000;
	}

	&__dialogHeader {
		font-family: $bebas !important;
	}
}
