.team-container {
	padding: 0 1rem;

	&__name {
		font-family: $bebas !important;
		text-align: center !important;
		word-wrap: break-word !important;
		word-break: break-all !important;

		@media only screen and (max-width: $bp-sm) {
			margin: $xs-margin 0 !important;
		}
	}

	&__logo {
		object-fit: contain;
		width: 100%;
		height: 100%;

		&-box {
			width: 100%;
		}
		@media screen and (max-width: $bp-mdUp) {
			&-box {
				width: 20rem;
				height: 20rem;
			}
		}
	}

	&__left-pane {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	&__right-pane {
		margin-left: $xs-margin;
	}
}
