.users {
	grid-column: center-start / center-end;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $bebas !important;

	@media screen and (max-width: $bp-sm) {
		grid-column: full-start / full-end;
	}

	&__background {
		background-image: url('/img/warsaw_venue.jpg');
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-size: cover;
		filter: opacity(0.2);
	}

	&__box {
		position: relative;
		z-index: 1000;
		min-width: 45vw;
		min-height: 85%;
		padding: 3rem 2rem;
		width: 90%;
	}

	&__headerText {
		text-transform: uppercase;
		font-family: $bebas !important;
		letter-spacing: 0.5px !important;
		margin-right: $xs-margin !important;
	}

	&__searchIcon {
		font-size: 1.5rem !important;
		color: #706d6d;
	}

	&__container {
		margin-top: $m-margin !important;
	}

	&__loading {
		min-height: 50vh;
	}

	&__iconButton {
		font-size: 2.5rem !important;
		&-active {
			color: #0099cc !important;
		}
	}

	&__list {
		margin-right: 1rem !important; //1130/16px
		@media screen and (max-width: 70.625em) {
			margin-right: 0 !important;
			margin-bottom: 1rem !important;
		}
	}

	&__xIcon {
		font-size: 2.5rem;
	}

	&__friend {
		color: green;
		font-size: 3rem !important;
	}

	&__accept {
		color: orange;
		font-size: 3rem !important;
	}

	&__remove {
		color: red;
		font-size: 3rem !important;
	}

	&__addToLeague {
		color: green;
		font-size: x-large;
	}

	.MuiTableCell-head {
		background-color: $color-primary !important;
		color: #fff !important;
		font-size: 1.8rem;
		font-family: $bebas !important;
		border: 1px solid $color-primary-light;

		&:first-child {
			border: none !important;
		}
		&:nth-child(2) {
			border-left: none;
		}
	}

	.MuiTableRow-root:nth-child(even) .MuiTableCell-body {
		background-color: $color-primary-light;
		color: #fff;

		.MuiIconButton-root:hover {
			background-color: #b9b0b083;
		}
	}

	.MuiTableRow-root:nth-child(even) .MuiTableCell-body &__iconButton {
		color: #fff;
	}

	.MuiTableCell-body {
		font-size: 1.7rem;
		font-family: $bebas !important;
		border: 1px solid $color-primary;
	}

	.MuiTableCell-root {
		padding: 1rem !important;
	}

	.MuiTable-root {
		border: 1px solid $color-primary;
	}

	@media only screen and (max-width: $bp-sm) {
		&__headerText {
			margin-bottom: $xs-margin !important;
		}

		&__container {
			margin-top: $s-margin !important;
		}
	}
}

.users-dialog {
	&__fix {
		float: right;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-family: 'Bebas Neue', cursive !important;
	}

	&__select {
		margin-top: 14px !important;
		font-size: large !important;
		width: 20rem;
	}

	.MuiButton-label {
		width: 100%;
		display: inherit;
		align-items: inherit;
		justify-content: inherit;
	}
}
