.user-leagues {
	grid-column: center-start / center-end;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $bebas;

	&__background {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		background-image: url(/img/warsaw_venue.jpg);
		background-size: cover;
		filter: opacity(0.2);
    }

    &__box {
		position: relative;
		z-index: 1000;
		min-width: 80%;
		padding: 3rem 2rem;
		min-height: 85%;

		@media only screen and (max-width: $bp-md) {
			min-width: 85%;
			min-height: 100%;
			padding: 2rem 1rem;
		}

		@media only screen and (max-width: $bp-sm) {
			min-width: 95%;
			padding: 1rem 0.5rem;
		}
	}

	&__heading {
		text-align: center;
		text-transform: uppercase;
		font-family: $bebas !important;
		margin-bottom: $xs-margin !important;
		letter-spacing: 1px !important;
	}
	
	&__fiplus{
		float: right;
		font-size: x-large !important;
		color: green !important;
	}

	&__delete-button{
		font-size: x-large !important;
		color: red !important;
	}
}

.user-leagues-table{
	.MuiTableCell-head {
		background-color: $color-primary !important;
		color: #fff !important;
		font-size: 1.7rem;
		font-family: $bebas !important;
		border: 1px solid $color-primary-light;
		text-align: center;
	}

	.MuiTableRow-root:nth-child(even) .MuiTableCell-body {
		background-color: $color-primary-light;
		color: #fff;
	}

	.MuiTableCell-body {
		font-size: 1.6rem;
		font-family: $bebas !important;
		border: 1px solid $color-primary;
		text-align: center;
	}

	.MuiTable-root {
		border: 1px solid $color-primary;
	}
}

.user-leagues-dialog{
	&__fix{
        float: right;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        font-family: "Bebas Neue", cursive !important;
    }
}