@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:wght@300;500&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5% !important;
}

body {
	font-weight: 300;
	background-color: $color-primary;
	color: #fff;

	@media only screen and (max-width: $bp-md) {
		font-size: 57% !important;
	}

	@media only screen and (max-width: $bp-sm) {
		font-size: 50% !important;
	}
}

#root {
	display: grid;
	grid-template-rows: 4.5rem minmax(calc(100vh - 8.5rem), 1fr) 3rem; // 100vh - header(4.5) - footer(3rem) - padding w footerze(2rem/2)
	grid-template-columns:
		[full-start] minmax(1rem, 10rem)
		[center-start] minmax(40rem, auto) [center-end] minmax(1rem, 10rem)
		[full-end];
}

.notification {
	&-title {
		font-size: 2rem !important;
	}
	&-message {
		font-size: 1.5rem !important;
	}
}
