@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:wght@300;500&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	font-size: 62.5% !important;
	font-weight: 300;
	background-color: $color-primary;
	color: #fff;

	@media only screen and (max-width: $bp-md) {
		font-size: 57% !important;
	}

	@media only screen and (max-width: $bp-sm) {
		font-size: 50% !important;
	}
}

#root {
	display: grid;
	grid-template-rows: 3rem minmax(calc(100vh - 6rem), 1fr) 3rem;
	grid-template-columns:
		[full-start] minmax(3rem, 10rem)
		[center-start] 1fr [center-end] minmax(3rem, 10rem)
		[full-end];
}

.notification {
	&-title {
		font-size: 1.1rem !important;
	}
	&-message {
		font-size: 1rem !important;
	}
}
