.heading-1 {
	font-size: 2.5rem !important;
	font-weight: 300 !important;
}

.heading-2 {
	font-size: 2rem !important;
	font-weight: 300;
}

.heading-3 {
	font-size: 1.5rem !important;
	font-weight: 300;
}
