//colors
$color-primary: #212121;
$color-primary-light: #424242;

//fonts
$bebas: 'Bebas Neue', cursive;
$poppins: 'Poppins', sans-serif;

//margins
$xs-margin: 0.5rem;
$s-margin: 1rem;
$m-margin: 1.5rem;
