//colors
$color-primary: #212121;
$color-primary-light: #424242;

//fonts
$bebas: 'Bebas Neue', cursive;
$poppins: 'Poppins', sans-serif;

//margins
$xs-margin: 1rem;
$s-margin: 1.5rem;
$m-margin: 2rem;

//breakpoints
$bp-lg: 80em; //1280/16px
$bp-md: 56.25em; //900/16px
$bp-sm: 37.5em; //600/16px
$bp-xs: 31.25em; //500/16px
